body {
  background-color: #E8EAF6;
}

ng-md-icon {
  fill: white;
}

md-sidenav md-list .md-button {
  text-align: left;
  width: 100%;
}

md-sidenav md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav  md-list {
  padding: 0;
}

md-sidenav ng-md-icon {
  position: relative;
  fill: black;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  vertical-align: middle;
}

md-sidenav.md-locked-open {
  width: 244px;
  min-width: 244px;
  max-width: 244px;
}
